body {
  background-color:beige;
}

.header1 {
  font-size:30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-wrapper {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

table {
  border-collapse: collapse;
  width: 600px;
  table-layout: fixed;
}

th,
td {
   border: 1px solid black;
  padding: 12px;
  text-align: center;
}

.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
}